<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "com.phonegap.example"
    version   = "1.0.1">

<name>Dua Test App</name>

<description>
A simple test app.
</description>

<author href="#" email="aminnazir.net@gmail.com">
Aminnazir
</author>

<icon src="assets/icon.png" />
<gap:splash src="assets/splash.png" gap:platform="ios" />
<gap:splash src="assets/splash.png" gap:platform="android" />
<gap:splash src="assets/splash.png" gap:platform="winphone" />


<preference name="SplashScreenDelay" value="10000" />


</widget>
